.grid-two-col {
    display: grid;
    gap: 0px 0px;
    grid-template-columns: 1fr 1fr;
    margin: 50px auto;
    min-width: 700px;
}

.grid-left-col, .grid-right-col {
    padding: 10px 30px;
}
.grid-left-col {
    border-right: 1px solid rgba(0,0,0,0.3);
}
.grid-right-col {
    border-left: 1px solid rgba(0,0,0,0.3);
}

.grid-top-left-col, .grid-top-right-col {
    background-color: #353A3F;
    text-align: center;
    color: rgba(255,255,255,0.9);
}

.grid-top-left-col h2, .grid-top-right-col h2 {
    font-weight: 300;
    font-size: 20px;
}

.grid-top-left-col {
    border-top-left-radius: 15px;
}
.grid-top-right-col {
    border-top-right-radius: 15px;
}

.grid-content-col, .grid-content-bottom-col {
    padding-top: 30px;
    min-height: 300px;
    font-size: 16px;
    text-align: center;
}

.grid-content-col {
    border-bottom: 1px solid #353A3F;
}

.img-title, .img-graph-title {
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 0px;
}
.img-graph-title {
    position: relative;
    right: 25px;
}
.img-xlabel {
    font-weight: 400;
    font-size: 7px;
    margin-top: 0px;
}

.line {
    border-bottom: 2px solid black;
    margin: 50px 0px;
}
.exp-title{
    text-align: left;
    font-weight: 700;
    text-decoration: underline;
}